.title-container {
	margin-bottom: 20px;
}

.menu-container {
	margin-bottom: 80px;

	a {
		font-size: 16px;
		line-height: 1.5;
	}
}

.questions-container {

	.question {
		margin-bottom: 30px;
	}

	br{
		line-height: 1.5;
	}

	img {
		width: 600px;
		margin: 25px 0px 40px 0px;
		// margin-bottom: 50px;
	}
}
